body {
	background: #555555;
	font-size: 18px;
	color: black;
	margin: 0px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

canvas {
	border: 1px solid black;
}

.sketch {
	margin-bottom: 1em;
}

#container {
	background: #aaaaaa;
	width: 640px;
	height: 100%;
	position: relative;
	padding: 1em;
	margin: auto;
}

.clicker {
	font-size: 0.8em;
	position: relative;
	left: 0.4em;
	top: -1.8em;
	margin-bottom: -1em;
	width: 3em;
	height: 1em;
}
